.home_button {
  position: relative;
  top: 368px;
  left: 39px;
  height: 53px;
  width: 193px;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color:#FFFFFF;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: #FFFFFF;
    color: #000;
    mix-blend-mode: screen;
  }
  &:active {
    background: #FFFFFF;
    color: #000;
    mix-blend-mode: screen;
  }
}

.product_button {
  width: 360px;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px; 
  font-weight: 700;
  text-align: center;
  padding: 16px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #000000;
    color: #FFFFFF;
  }
}

.product_window_button_focus {
  width: 360px;
  height: 53px;
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
  border-radius: 4px; 
  transition: 0.3s;
  margin-bottom: 82px;
  align-self: flex-end;
}

.circled_button{
  display: flex;
  align-items: center;
  gap: 4px;
  width:fit-content;
  padding: 1px 7px;
  border: none;
  border-radius: 21px;
  background-color: #EFEFEF;
  transition: 0.3s;

  &:hover {
    background-color: #9E9E9E;
  }

  &.selected {
    color: #FFFFFF;
    background-color: #000000;
  }
}


.circled_button_color-index {
  min-width: 4px;
  min-height: 4px;
  background-color: #A18A68;
  border-radius: 2px;
}