.product {
  display: flex;
  flex-direction: column;
  width: 377px;
  min-height: 472px;
}

.product_img {
  background-color: darkseagreen;
  background-size: cover;
  width: 377px;
  min-height: 380px;
  border-radius: 8px;
  transition: 1s;
  cursor: pointer;
  @include productOnHover()
}

.product_name {
  margin-top: 24px;
  margin-bottom: 16px;
}

.product_add {
  visibility: hidden;
  position: relative;
  top: 310px;
  width: 377px;
  min-height: 70px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 0px 0px;
  transform: rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}

.pruduct_add_text {
  size: 12px;
  font-weight: 700;
  color:#707070;
  transform: rotate(-180deg);
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 392px;
}

.product-card_img {
  width: 300px;
  min-height: 300px;
  border-radius: 8px;
  transition: 1s;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  &:hover {
    box-shadow: 4px 4px 23px 4px rgba(0, 0, 0, 0.2);
    .product-card_add {
      visibility:visible;
    }
  }
}

.product-card_add {
  visibility: hidden;
  position: relative;
  top: 240px;
  width: 300px;
  min-height: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 0px 0px;
  transform: rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}

.product_added {
  width: 46px;
  min-height: 24px; 
  background: #A18A68;
  font-family: 'DM Sans';
  font-style: normal;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: -55px;
  left: 5px;
}