.filter_range_wrapper {
  display: flex;
  max-width: 261px;
  user-select: none;
}

.range {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #707070;
  margin-bottom: 39px;
}

.slider {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  padding-left: 30%;
  padding-right: 30%;
  background-color: rgba(216, 216, 216, 1);
  box-sizing: border-box;
}

.slider.focusable {
  border: 1px solid #222
}

.thumb {
  box-sizing: content-box;
  cursor: pointer;
  border:10px solid rgba(255, 255, 255, 0.1);
  border-top: 20px;
  
  width: 2px;
  height: 10px;
  background-clip: padding-box;
  background-color: #000000;
  position: absolute;
  transform: translateX(-5px);
  cursor: grab;
}

.track {
  pointer-events: none;
  height: 100%;
  background-color: #000000;
}

.container {
  position: relative;
  margin-left: auto;
  left: -2px;
  top: 7px
}



