main {
  width: 1248px;
  margin: 0px auto;
}

input[type = 'radio'] {
  display: none;
}

.popular_header {
  display: flex;
  height: 43px;
  margin-top: 64px;
  margin-bottom: 39px;
}

.popular_link-all {
  margin-left: auto;
  line-height: 43px;
  color: #A18A68;
  transition: 0.3s;

  &:hover {
   color: #000000;
  }
}

.popular_container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 86px 0px;
}