footer {
  display: flex;
  flex-direction: column;
  width: 1246px;
  margin: 250px auto 90px auto;
  min-height: 160px;

  @media (max-width:1248px) {
    width: 776px;
  }
}

.footer_top {
  display: flex;
  gap: 41px;
  min-height: 60px;
  align-items: flex-end;
}

.footer_email {
  display: flex;
  margin-left: auto;
  border-bottom: 1px solid #000000;
  gap: 128px;
}

.footer_bottom {
  display: flex;
  min-height: 60px;
  align-items: flex-end;
}

.footer_icons {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.footer_icon {
  min-height: 18px;
  cursor: pointer;
  background-size: contain;
  min-width: 20px;
  background-repeat: no-repeat;
}

.rs-icon {
  width: 45px;
  min-height: 18px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer_icon-arrow {
  width: 25px;
  cursor: pointer;
}

.footer_link {
  color: #707070;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: #000000;
  }
}

